*{
    font-family: Roboto;
}
body {
    float:left
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 99;
}

.header h1 {
    font-size:0
}

.header-space {
    height: 60px;
}