body{
    background: rgba(30,157,215,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(30,157,215,1) 0%, rgba(0,117,190,1) 67%, rgba(0,91,151,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(30,157,215,1)), color-stop(67%, rgba(0,117,190,1)), color-stop(100%, rgba(0,91,151,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(30,157,215,1) 0%, rgba(0,117,190,1) 67%, rgba(0,91,151,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(30,157,215,1) 0%, rgba(0,117,190,1) 67%, rgba(0,91,151,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(30,157,215,1) 0%, rgba(0,117,190,1) 67%, rgba(0,91,151,1) 100%);
    background: radial-gradient(ellipse at center, rgba(30,157,215,1) 0%, rgba(0,117,190,1) 67%, rgba(0,91,151,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e9dd7', endColorstr='#005b97', GradientType=1 );
}
@media only screen and (min-width: 40.063em){
.footer{
    position: absolute;
    bottom: 0;
    z-index: -1;
}}
@media only screen and (max-width: 40.063em) and (max-height:33.875em){
.footer{
    position: relative;
    bottom: 0;
    z-index: -1;
}}
@media only screen and (max-width: 40.063em) and (min-height:33.875em){
    .footer{position: fixed;
    bottom: 0;
    z-index: -1;}
}
/*LOGIN*/
.login-logo{
    margin-top: -4em;
    width: 7.5em;
}
.login{
    font-family: calibri, Arial, Helvetica, sans-serif;
    margin: 7.5em 0 2em 0;
    padding: 0px 0px 0px 0px;
    text-align: center;
/*    background-color: rgba(52, 73, 94, 0.4);*/
    background: #146497;
    border-radius: 4px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    -webkit-box-shadow: 0 0 15px 0 #041D2B;
    box-shadow: 0 0 15px 0 #041D2B;
}
}
.none{
    margin-right: 1.25em;
}
p{
    margin: 1em 0;
    padding: 0.5em 1em;
}
.form li {
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    padding: 0.25em 0.25em 0 0.25em;
    margin: 0.9375em 0 0 0;
    height: 3.725em;
    list-style: none;
}
/*
.form li::before{
    content: "\f007";
    position: absolute;
    font-family: "FontAwesome";
    font-size: 35px;
    padding-left: 6px;
    padding-top: 4px;
    color: #2c3e50;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.form li:nth-child(2)::before {
    content: "\f023";
}
*/
.form h5 {
  float: left;
  height: 1em;
  background: #146497;
  font-size: 1.275em;
  color: #f0f0f0;
  border-right: 0.125em solid #146497;
  border-left: 0.125em solid #146497;
  margin-top: -20px;
  -webkit-transition: .5s ease top, .5s ease opacity;
  transition: .5s ease top, .5s ease opacity;
}
.link{
    color: white;
    margin: 1.2em;
    display: block;
    padding: 0.125em 0,25em;
}
.link:hover {
    color: #DDD;
    text-decoration: underline;
    cursor: pointer;
}
.js-hide-label label {
  opacity: 0;
  top: 1.5em;
}
.js-unhighlight-label label {
  color: #AAA;
}
.botao{
    display: block;
    margin: 0 auto;
}
.footer{
    background-color: #333;
    color: #f0f0f0;
    text-align: center;
}
ul {
    margin-right:1.25rem
}
/*FIM LOGIN*/
.logo{
    margin-top: 1em;
    width: 8em;
}
.instancias{
    margin-top: 2em;
    color: #555;
}
.instancias th{
    border-bottom: 0.125em solid #555;
}
.exit{
    background: #f0f0f0;
    color: black;
    border-radius: 1em;
    padding: 1em;
}
.exit:hover{
    color: #CCC;
    border: none;
}
.fat{
    margin-top: 1em;

}
.fat th{
    color: #1e9dd7;
/*    0075be*/
    border-bottom: 0.125em solid #1e9dd7;
}
.center{
    text-align: center;
}
.logo-small{
    margin: .5em;
}
