* {
background:transparent !important;
color:#000 !important;
text-shadow:none !important;
filter:none !important;
-ms-filter:none !important;
}
body {
margin:0;
padding:0;
line-height: 1.4em;
}
@page {
margin: 0.5cm;
}
.print {
display:block;
}
.no-print { 
display:none; 
}
.medium-2{
    width: 175px;
}
.medium-1{
    width: 115px;
}
.medium-6{
    width: 425px;
}
.headerPrint{
    display: block;
/*    text-align: center;*/
}
.headerPrint img{
    width: 266px;
    height: 124px;
}
.texto, .headerPrint img{
    display: inline-table;
    text-align: center;
}
.texto{
    margin-left: 60px;
    margin-top: 0;
}
.form h5{
    border: none;
}